- Importo las librerias principales

In [9]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('../datasets/crudo/ref_temperatura_lluvia_jun2022_jun2024.csv')

In [11]:
data.head()

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,52.54833,13.407822,38.0,-14400,America/New_York,EDT
1,time,temperature_2m (°C),rain (mm),is_day (),NaN,NaN
2,2022-06-30T00:00,17.7,0.10,1,NaN,NaN
3,2022-06-30T01:00,18.2,0.00,1,NaN,NaN
4,2022-06-30T02:00,19.4,0.00,1,NaN,NaN

In [12]:
data.dtypes

latitude                 object
longitude                object
elevation                object
utc_offset_seconds       object
timezone                 object
timezone_abbreviation    object
dtype: object

In [13]:
data.columns

Index(['latitude', 'longitude', 'elevation', 'utc_offset_seconds', 'timezone',
       'timezone_abbreviation'],
      dtype='object')

In [25]:
data.shape

(17570, 6)

In [14]:
df = data.copy()

## Identifico y separo las diferentes partes del dataset

- Primeras filas contienen información geográfica y de zona horaria.

- Filas posteriores contienen datos metereológicos.

### Limpieza de la sección geográfica.

In [15]:
# Identifico el índice dónde empiezan los datos meteorológicos
weather_start_idx = df[df['latitude'] == 'time'].index[0]

In [26]:
weather_start_idx

np.int64(1)

In [16]:
# Separo datos geográficos y de zona horaria
geo_df = df.iloc[:weather_start_idx].copy()

In [17]:
# Separo datos meteorológicos
weather_df = df.iloc[weather_start_idx+1:].copy()

In [18]:
# Restablezco los índices de ambos df
geo_df.reset_index(drop=True, inplace=True)
weather_df.reset_index(drop=True, inplace=True)

In [ ]:
# Convierto columnas a tipos de datos nmericos flotantes
geo_df['latitude'] = geo_df['latitude'].astype(float)
geo_df['longitude'] = geo_df['longitude'].astype(float)
geo_df['elevation'] = geo_df['elevation'].astype(float)
geo_df['utc_offset_seconds'] = geo_df['utc_offset_seconds'].astype(int)

### Limpieza de la sección meteorológica:

In [21]:
# Renombro las columnas
weather_df.columns = ['time', 'temperature_2m (°C)', 'rain (mm)', 'is_day ()', 'extra_1', 'extra_2']

In [22]:
# Elimino columnas innecesarias
weather_df = weather_df[['time', 'temperature_2m (°C)', 'rain (mm)', 'is_day ()']]

In [23]:
# Convierto la columna de tiempo al formato datetime
weather_df['time'] = pd.to_datetime(weather_df['time'])

- Verifico y guardo los df

In [29]:
geo_df

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,52.54833,13.407822,38.0,-14400,America/New_York,EDT

- Verifico los nulos

In [31]:
weather_df.isna().sum()

time                   0
temperature_2m (°C)    0
rain (mm)              0
is_day ()              0
dtype: int64

### Guardo los df limpios

In [32]:
geo_df.to_csv('../datasets/procesado/datos_geograficos_limpios.csv', index=False)
weather_df.to_csv('../datasets/procesado/datos_meteorologicos_limpios.csv', index=False)